@charset "UTF-8";

#chatListDiv{
	/* 전체div */
	width: 100%;
	position: relative;
	/* border: 1px solid green; */

	padding: 10px;
}

#chatListDiv #titleDiv{
	/* 제목 div */
	width: 60%;
	height: 50px;
	position: relative;
	/* border: 1px solid red; */
	/* left: 20%; */
	margin-right:auto;
	margin-left:auto;
}
#chatListDiv #titleDiv p{
	/* 제목 div 의 글자*/
	text-align: center;
	font-size: 1.6em;
	font-weight: bold;

	padding:1%;
	color:#e64c7f;
	
}
#chatListDiv #contentDiv{
	/* 내용 div */
	width: 50%;

	position: relative;
	/* border: 1px solid #959595; */
/* 	left: 20%; */
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right:auto;
	margin-left:auto;
	padding-top: 10px;
	padding-bottom: 10px;
	

}
#chatListDiv #contentDiv #nullDiv{
	width: 93%;
	height: 300px;
	position: relative;
	margin-right:auto;
	margin-left:auto;
	/* border : 1px solid black; */
	text-align: center;
}
#chatListDiv #contentDiv #nullDiv p{
	width: 60%;
	position: relative;
	padding:20px;
	font-size: 1.5em;
	color: #e64c7f;
	margin-top: 10%;
	margin-right:auto;
	margin-left:auto;
	/* border : 1px solid black;
 */
}



#chatListDiv #contentDiv .oneChatDiv {
	/* 반복되는 div */
	width: 93%;
	height: 100px;
	position: relative;
	margin-right:auto;
	margin-left:auto;
	/* left: 10%; */
	border-top: 2px solid #f1f1f1;
	/* border-bottom: 1px solid gray; */
		margin-top:2px;
		
}
#chatListDiv #contentDiv .oneChatDiv .chatDiv{
		/* 반복되는 div 안의 div들 공통 부분*/
		display: inline-block;		
}
#imgDiv{
/* 이미지부분	 */
	border-radius: 50%;
	/* border: 1px solid pink; */
	height: 90%;
	width: 15%;
	position: relative;
	top: 5%;
	margin:0;
	margin-left: 2%;
	padding:0px;

}
#imgDiv img{ /* 이미지 div크기에 맞추기 */
	margin: 0px;
	padding: 0px;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-radius: 50%;
}
#textDiv{
	/* 내용부분 바깥영역 */
/* 	 border: 1px solid yellow;  */
	height: 95%;
	width: 80%;
	position: relative;
	top: -20%;
		margin:0;
}
#textcon{
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 10px;
		/* 내용부분 안쪽영역 보이는 부분 */
	height: 70%;
	width: 98%;
	position: relative;
	top: 6%;
	left:2%;
	padding-top:10px;
	margin:0px;
	
}
#textcon:hover {
	/* box-shadow: 3px 3px 5px 1px #999; */
	background-color : #eee;
	/* x-index: 3; */
}

#textcon a{

	margin:0px;
	/* border: 1px solid black; */
	position: relative;
	
} 
#ctext{
	/* 메시지 글자 */
	display: inline-block;
 	white-space: nowrap;
	width: 470px;
	/* border: 1px solid gray; */
	padding-left:5%;
	padding-top:0.5%;
	position: relative;
	font-size: 1.1em;
	text-overflow: ellipsis;
	    overflow: hidden;
	}
#cdate{
	/* width: 98%; */
	padding-left:85%;
	position: relative;
	top: 0%;
	font-size: 0.8em;
}

#rcountDiv{
	/* 읽음표시부분 */
	/* border: 1px solid red; */
	height: 90%;
	width: 1.5%;
	position: relative;
	top: -45%;
	left: -0.5%;
		margin:0;
		/* padding-top:5px; */
}
#rcountDiv #rcDiv{
	width:36px;
	height:35px;
	display: inline-block;
	/* border: 1px solid red; */
	background-color: #e64c7f;
	margin-top:25px;
	padding-top:10%;
	z-index: 1;
	/* background-image: url('resources/images/p3.jpg'); */
	background-repeat: no-repeat; 
	background-size: cover;
	align: center;
	border-radius: 20px;
	
	text-align: center;
}

#rcountDiv #rcDiv:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    z-index: -1;
    background: #fff;
/*     background: black; */
    top: 52%;
    right: 30%;
    
}
#rcountDiv #rcDiv:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    z-index:-1;
/*     z-index: -1; */
    background: #e64c7f;
    top:50%;
    right: -50%;
    /* box-shadow: 3px 3px 5px 1px #999; */
} 

#rcountDiv #rcDiv p{
	margin:0px;
	padding-top:3px;
	text-align: center;
	/* padding-left:30%; */
		align: center;
		font-size: 1.2em;
		font-weight: bold;
		font-style: italic ;
		color: #fff;
}
/* #rcountDiv #rcDiv:hover{
	box-shadow: 2px 0px 6px 0px #999;
	border: 2px solid #fff;
} */
#butDiv {
		/* 버튼 div */
	width: 80%;
	height: 30px;
	position: relative;
	text-align: conter;
	left: 5%;
	top: 10px;
	align: center;
	/* border: 1px solid red; */
		margin-top:3%;
		margin-bottom:7%;
}
#butDiv #addlist{
	/* 버튼 */
	width: 500px;
	height:30px;
	border: 0px;
	color: #fff;
	background-color: #ccc;
	border-radius: 5px;
/* 	box-shadow: 3px 3px 10px 0px #999; */
	display: inline-block;
	position:relative;
	left:24%;
	/* padding-bottom:px; */
}
#butDiv #addlist:hover{
	background-color: #fff;
	border: 1px solid #ccc;
	color: #ccc;
		/* box-shadow: 3px 3px 10px 0px #999; */
}