@charset "UTF-8";

/*공통 css by 귀정*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

*{ margin:0; padding:0; font-family:'Noto Sans KR', sans-serif;}
li{ list-style:none; }
a { text-decoration:none; color:#353535;}
button{outline:none; cursor: pointer !important;}
/*헤더영역 css*/
#headerWrap{ width:100%; height:60px; background:#F8F8F8;}
#mainlogo a{ line-height: 60px; font-family: 'Roboto', sans-serif; font-size:35px; color:#e64c7f; font-weight:600; letter-spacing:1px;}
#headerContentWrap{ width:1240px; margin:0 auto;}
#logoArea{ width:207px; display:inline-block; float: left;}
#headerSearchWrap{ display:inline-block; width:740px; padding: 12px 0; text-align: center;}
#headerSearchWrap input[type="text"]{width: 350px; height: 35px; border:1px solid #d5d5d5; text-align: left; 
									 padding-left: 10px; border-radius:3px;}
#quickMenuWrap{display:inline-block;}
#matchingBtn{ height:35px; border:none; color:#fff; font-size:16px; font-weight:400; padding:0 25px; border-radius:3px; background-color:#e64c7f;}
#matchingBtn:hover{background-color:#e42e5f;}
#iconWrap{ display: inline-block; position: relative; top:6px; left:10px;}
.headerIcon{ border:none; background:#f8f8f8; margin-right:8px; outline:none; cursor:pointer;}
.headerIcon img{height: 24px;}
#accountBtn img {height:30px; position: relative; top: 3.5px; left:-4px;}
/*  */
.headerIcon .badge-num {
	display: block;
  box-sizing:border-box;
  font-family: 'Trebuchet MS', sans-serif;
  background: #ff0000;
  cursor:default;
  border-radius: 50%;
  color: #fff;
  font-weight:bold;
  font-size: 1.0em;
  height: 65%;
  line-height:1.55em;
  left:10%;
  border:2px solid #fff;
  position: absolute;
  top:-4px;
  text-align: center;
  width: 14%;;
  box-shadow: 0.6px 1px 5px rgba(0,0,0, .2);
  animation: pulse 1.5s 1;
}

/*헤더 영역 최근 검색어 창 css*/
#SearchViewArea{ width:100%;}
#SearchView{width:362px;margin:0 auto;}
#searchAreas{ border: 1px solid #d5d5d5; position: absolute; width: 360px; margin-left: -43px; background: #fff; margin-top: -11px; 
				border-top: none; border-radius: 0px; z-index:998; display:none;}
#searchAreas p{ color: #e64c7f; font-weight: bold; font-size: 14px; margin:8px; padding-left:20px; margin-left: 0;}				
.searchOptionmenu{background:#EAEAEA; width:100%; margin-top:10px}
#historydelBtn{border: none; background: #eaeaea; color: #353535; padding: 5px 0; margin-left: 185px;}
#historycloseBtn{border: none; background: #eaeaea; color: #353535; padding: 5px 0; padding-left:10px}
#searchAreas li{color: #353535; font-size: 14px; font-weight: 500; padding: 3px 0; padding-left:20px; }
#searchAreas li:hover{background:#F6F6F6;}
#no_search{background:none !important;}
#searchAreas li span{float: right; margin-right: 20px; font-size: 12px; color: #8c8c8c; position: relative; left: -15px;}
#oneDelete{ float: right; padding-right: 20px; color: #8c8c8c; font-size: 12px; }

/*헤더 서브메뉴 css*/
.subMenu{background:#F8F8F8; width: 230px; z-index: 9999999; margin-top: 5px;
    	position: relative; left: 1355px; padding: 25px 25px 45px 25px;}
.alCountTitle{ font-size: 20px; font-weight: bold; color: #353535; padding-bottom: 10px;}
.alCountTitle span{ color:#e64c7f;}  
.alLi{ font-size:12px; padding: 8px 0; border-top: 1px solid #ddd;}  
#firstAlLi{border:none;}
.alNickname{font-weight:bold}
#alMenu{display:none;}
.subMenuclose{display:inline-block; float:right; background:#f8f8f8; border:none; font-size:20px;
			  font-weight:bold; color: #8c8c8c; outline:none;}
#myMenu{display:none; width:175px; padding: 25px 25px 15px 25px;}	
.myLi{font-size:16px; font-weight:bold; padding:10px 0; border-bottom: 1px solid #ddd;}	
.myLi span{ color:#e64c7f; letter-spacing:1px;}
#logoutId{text-align:right; font-size:13px; border:none;}	
#logoutId a{color:#8c8c8c;} 
#accountEmail{ color:#8c8c8c; font-size:15px;}
#searchAreas p span{ font-size: 13px; color: #535353; font-weight: normal;}

/*푸터메뉴 css*/
#footerArea{width:40%; margin:0 auto; margin-bottom:20px; padding-bottom:20px}
#footerArea li{float:left; font-size:13px; color:#8c8c8c}
#footerArea #rightMenu{float:right; font-size:13px}
.footerList span{padding:0 5px;}
.footerList a:hover{text-decoration:underline; color:#353535;}
.footerList a{color:#8c8c8c;}
#rightMenu{ font-size:13px;}