@charset "UTF-8";
/*관리자 신고목록 페이지*/
.main{width:50%; margin: 0 auto;}
.listfont{color:#3e3c3c; margin: 100px 0px 25px 10px; width: 100px;
    border-bottom: 3px solid rgb(24, 90, 142); padding-bottom: 10px;}
.search{ float: right; margin-bottom: 20px;}
select{padding: 4px 3px 7px 5px;}
.search_text{    padding: 5.5px; vertical-align: bottom;}
.search_bt{padding: 3.5px 8px 3.5px 8px;}
.table{ width: 100%; text-align: center; border-collapse: collapse;}
.title{background-color:#80808059;}
tr > th {border:none}
thead,td{border-bottom: 1px solid gray; }
thead{border-top: 1px solid gray; font-size: 15px;}
th{ padding: 7px;}
td{padding: 5px;}
/* .paging{text-align: center;margin-top: 30px;}
.page{border: 1px solid rgb(244, 244, 244);; background: rgb(244, 244, 244);
   	   color: #3e3e3e; padding: 3px 10px 3px 10px; border-radius: 6px;font-weight: bold;}
.page{border: 1px solid rgb(24, 90, 142); background: rgb(24, 90, 142);
   	   color: white; padding: 3px 10px 3px 10px; border-radius: 6px;font-weight: bold;}
.pre_page, .next_page{border: 1px solid rgb(244, 244, 244);; background: rgb(244, 244, 244);
   	   color: #3e3e3e; padding: 3px 10px 3px 10px; border-radius: 6px;font-weight: bold;}*/
.pp{display: inline-block;margin-bottom:0px; margin-top:0px;    margin-right: 4px;} 
input[type='date']{padding: 3px; width:174px;}
input[type='checkbox']{transform: scale(1.5);}
.chbox{    width: 184px;}
div > .chbox{margin:0px; text-align: center;}
.paging{text-align: center;margin-top: 30px;}
.page{border: 1px solid rgb(24, 90, 142); background: rgb(24, 90, 142);
   	   color: white; padding: 3px 10px 3px 10px; border-radius: 6px;font-weight: bold;}
.pre_page, .next_page{border: 1px solid rgb(244, 244, 244); background: rgb(244, 244, 244);
   	   color: #3e3e3e; padding: 3px 10px 3px 10px; border-radius: 6px;font-weight: bold;    display: inline-block;}
a{color:black;}
.space{margin-top: 180px;}