@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

*{ margin:0; padding:0; font-family:'Noto Sans KR', sans-serif;}

#likesDiv{
/* 전체 div */
	width: 100%;
	/* border: 1px solid yellow; */
	posision: relative;
	top:-30px;
}

/* .myLikesList_div{
	1.1div 1.2div 전체 공통
	width: 60%;
	border-radius: 20px;
	height: 1250px;
	border: 1px solid red;
	position: relative;
	padding: 0px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgb(250, 243, 244);
		border: 1px solid red;
} */

.tab_alldiv{
	/* 	탭파트 공통*/
	/* width:100%; */
	width: 59%;
	 height: 55px;
    margin-right:auto;
    margin-left:auto;
	/* border: 1px solid red; */
	padding: 0px;
	border-radius: 20px 0px 0px 0px;
	
}
.tab_link.active{
/* 	탭 활성화 */
	/* border: 1px solid orange; */
 	background-color: rgb(250, 243, 244);
/* 	border-top: 2px solid #e64c7f;
	border-left: 2px solid #e64c7f;
	border-right: 2px solid #e64c7f;
	border-bottom: 0px solid #e64c7f; */
	 	padding-top: 8px;
	 	padding-bottom: 5px;
	 	
}
.tab_link.active a{
	color: #e64c7f;
 	position:relative;
}
.tab_link{
/* 	탭비활성화 */
	background-color: rgb(233, 233, 233);
	/* border: 1px solid sky; */
	 	padding-top: 8px;
	 	padding-bottom: 5px;
	 	position:relative;

/* 	border-bottom: 2px solid	#e64c7f;
 */	/* display: none; */
}
#tab1{
	/* 	왼쪽탬 */
	display: inline-block;
	width: 50%;
	height:55px; 
	border-radius: 20px 0px 0px 0px;
	/* border: 1px solid red; */
	/* border-top: 1px solid rgb(250, 220, 220);
	border-left: 1px solid rgb(250, 220, 220);
	border-right: 1px solid rgb(250, 220, 220); */
}
#tab2{
	/* 	오른쪽탭 */
	border-radius: 0px 20px 0px 0px;
	display: inline-block;
	width: 50%;
	height:55px;
	margin-right:-4px;
	/* border: 1px solid blue; */
/* 	border-bottom: 1px solid rgb(250, 220, 220); */
	/* background-color: rgb(233, 233, 233); */ 
}
.tab_alldiv div a {
	/* 탭 안의 p */
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 1%;
	 font-size: 1.6em;
	 font-weight: bold;
	 text-align: center;
	 color: gray;
	 margin-top: 0px;
	 /* border: 1px solid yellow; */
}

#likesBody_div1{
	/* tab_content 전체 div */
	/*likesBody_div 이미지 리스트 파트 공통 */
	/* height: 1210px; */
	background-color: rgb(250, 243, 244);
	width: 59%;
    margin-right:auto;
    margin-left:auto;
	padding-top:20px;
	padding-bottom:20px;
		border-radius: 0px 0px 20px 20px;
	/* border:1px solid orange; */
/*  	border-top: none; 
	border-bottom: 1px solid rgb(250, 220, 220);

	border-left: 1px solid rgb(250, 220, 220);
	border-right: 1px solid rgb(250, 220, 220); */

}

#likesBody_div2{
	/* tab_content 전체 div */
	/*likesBody_div 이미지 리스트 파트 공통 */
	/* height: 1210px; */
		background-color: rgb(250, 243, 244);
	width: 59%;
    margin-right:auto;
    margin-left:auto;
	padding-top:20px;
	padding-bottom:20px;
			border-radius: 0px 0px 20px 20px;6
	/* border:1px solid blue; */
/*  	border-top: none; 
	border-bottom: 1px solid rgb(250, 220, 220);

	border-left: 1px solid rgb(250, 220, 220);
	border-right: 1px solid rgb(250, 220, 220); */

}
.tab-div.active {
	display: block;
}
.tab-div  {
	display: none;
}
ul{ 	/* 이미지 리스트 ul */
		clear: both;
	position:relative;
	left: 1.5%;
	width: 90%;
	    margin-right:auto;
    margin-left:auto;
	/* border: 1px solid olive; */
} 	
ul li{ /* 이미지 리스트 ul li : 한칸 */
	list-style: none;
	display: inline-block;
	position:relative;
	/* border: 1px solid pink;	 */
	
/* 	float: left;	
	width: 100%;
		position:relative;
		left: -4.5%;
		border: 1px solid pink; */
/* 	margin-left: 4%;
	margin-right: 3%;
	margin-top: 3%;
	margin-bottom: 1.5%; */	
	padding: 1%;
}
ul li .oneImg_div{ /* 이미지 리스트 ul li div : 한칸 */
	list-style: none;
/* 	float: left; */	
	width: 100%;
	display: inline-block;
	position:relative;
	
	border: 1px solid rgb(233, 233, 233);
	border-radius: 15px;
	/* background-color: rgb(233, 233, 233); */
	background-color: #F8F8F8;
/* 	background-color: rgb(250, 248, 249); */
	/* background-color: #e64c7f; */
	width: 260px;
	height: 340px;
	margin: 15px;
	/* border: 1px solid red; */

 /* 
    left: 3%; */

}	
.imgPart{ /* 이미지 리스트 ul li div div : 한칸 안의 img부분*/
 position: relative;
	margin:0px;
	padding:0px;
	width: 100%;
	height: 230px;
	
	/* border: 1px solid yellow; */
	background-color: #F6F6F6;
}
.imgPart img{ /* 이미지 div크기에 맞추기 */
	border-radius: 15px 15px 0px 0px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.profilePart{/*  ul li div div : 한칸 안의 프로필*/
	 position: relative;
	margin:0px;
	padding:0px;
	padding-top: 10px;
	width: 100%;
	height: 100px;
/* 	border: 1px solid yellow; */
}
.matp{/* p태그 둘러싼 div	 */
		/* border: 1px solid yellow; */
	 display: inline-block;
	margin: 0px;
	padding:0px;
	position: relative;
	height: 100px;
    width: 68%; 

}
.matp p{
	margin: 0px;
	padding-left: 6%;
	padding-top: 0%;
	color: gray;
	/* border: 1px solid orange; */
}
/* 글자이동 */
.pname{
	 display: inline-block;
	 position: relative;
	top: 0px;
	
}
.page{
	 display: inline-block;
	  position: relative;
	top:0px;
	width: 40px;
}
.pjob{
	/*  display: inline-block; */
	  position: relative;
	top: 0%;
/* 	width: 80px; */
}
.psch{
	/*  display: inline-block; */
	  position: relative;
		top: 0%;
/* 	width:55px; */
}
.ploc{
	 	position: relative;
	top: 0%;
} 

/* 이미지안, p오른쪽div */
.matright{
		margin: -4px;
		padding: 0px;
	/* border: 1px solid green; */
	display: inline-block;
	position: relative;
	width:31%;
	height: 100%;
	top: -30%;
}
.matright .math{
	margin: 0px;
	/* border: 1px solid blue; */
	position: relative;
	top: 20px;
	left:30%;
	width:50%;
	height: 40px;
	font-size: 2.0em;
	text-align: center;
	text-decoration: none; 
	color: red;
}
.matright .math:hover {
	color: gray;
}
.matright .math:active {
	color: red;
}

.matright .matchat{
	display:none; 
	margin: 0px;
	/* border: 1px solid orange; */
	text-align: center;
	position: relative;
	left:-5%;
	top:10px;
	width:100%;
	height: 40%;
} 
.matright .matchat.active{
	display: block;
	
}
.matright .matchat.tactive{
	display: block;
	
}
/* 
.matright .matchat.active .matchatbt{
	
} */

.matright .matchat .matchatbt{
	
 	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360); 
	display: block;
	/* margin: 20px auto;
	max-width: 180px; */
		margin: 0px;
			position: relative;
	top:5px;
	left: 0px;
	width:100%;
	height:80%;
	text-decoration: none;
	font-size: 0.99em;
	border-radius: 4px;
	padding: 3px 4px;
	/* padding: 0px; */
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;	
/* 	margin: 0px;
	padding: 0px;
	position: relative;
	top:10px;
	left: 0px;
	background-color: rgb(41, 128, 185);
	color: #fff;
	border: 0px solid black;
		width:100%;
	height:60%;
	font-size: 0.82em */;
}

.matright .matchat .matchatbt:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

/* from 버튼 */
#f_addlistBtnDiv {
	width: 100%;
	height: 50px;
	position: relative;
	/* border: 1px solid red; */
		text-align: center;
		padding-top: 2%;
}
#f_addlistBtnDiv #f_addlistBtn {
	position: relative;
	width: 90%;
	height: 40px;
	broder: 0px;
	background-color: rgb(210,210,210);
	color: #fff;
	text-align: center;
	/* border: 5px solid green; */
}
#f_addlistBtnDiv #f_addlistBtn:disabled{
	position: relative;
	width: 90%;
	height: 40px;
	broder: 0px;
	background-color: #fff;
	color: rgb(200,200,200);
	text-align: center;
	/* text-size: 1.5em; */
}

/* to버튼 */
#t_addlistBtnDiv {
	width: 100%;
	height: 50px;
	position: relative;
	/* border: 1px solid red; */
		text-align: center;
		padding-top: 2%;
}
#t_addlistBtnDiv #t_addlistBtn {
	position: relative;
	width: 90%;
	height: 40px;
	broder: 0px;
	background-color: rgb(210,210,210);
	color: #fff;
	text-align: center;
	/* border: 5px solid green; */
}

#t_addlistBtnDiv #t_addlistBtn:disabled{
	position: relative;
	width: 90%;
	height: 40px;
	broder: 0px;
	background-color: #fff;
	color: rgb(200,200,200);
	text-align: center;
	/* text-size: 1.5em; */
}